# Virtual environment
.venv/

# Environment variables
.env

# Sensitive config


# Folders - ignore contents but keep folder
logs/*
!logs/.gitkeep

sessions/*
!sessions/.gitkeep

# Fully ignore these
__pycache__/
.cursor/

repomix-output.xml